*{
    margin: 0;
    padding: 0;
    
}
.burger{
    margin: 1rem;
    cursor: pointer;
    z-index: 1;
}

.line{
    background: white;
    height: 0.2rem;
    width: 2rem;
    margin: 0.3rem;
}
h1{
    text-align: end;
    padding: 1rem;
}
.header{
    background: saddlebrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist{
    padding-top: 8rem;
    background: brown;
    /* Below two code is to make navlist vertical */
    height: 100%;
    width: 200px;
    /* Following to codes make navlist on top on hamburger */
    position: absolute;
    top: 0px;
    /* z-index gives order in stacking */
    z-index: 0;
    /* this code will hide navbar */
    left: -200px;
    /* this will show transition effect */
    transition: left ease-in 0.3s;
}
.navlist li{
    list-style: none;
    padding-bottom: 2rem;
    padding-left: 2rem;
}
.navlist li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

.navlist.open{
    left: 0px;
}

.burger.open div:nth-child(1){
    transform: rotate(45deg) translateY(12px);
}
.burger.open div:nth-child(2){
    opacity: 0;
    width: 0;
}
.burger.open div:nth-child(3){
    transform: rotate(-45deg) translateY(-11px);;
}

/* transition of hamburger */
.burger div{
    transition: all ease-in 0.3s;
}