*{
    margin: 0;
    padding: 0;
    
}
.burger{
    margin: 1rem;
    cursor: pointer;
    z-index: 1;
}

.line{
    background: white;
    height: 0.2rem;
    width: 2rem;
    margin: 0.3rem;
}
h1{
    text-align: end;
    padding: 1rem;
}
.header{
    background: saddlebrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist{
    padding: 10rem 2rem;
    background: brown;
    /* Below two code is to make navlist vertical */
    height: 100%;
    width: 100px;
    /* Following to codes make navlist on top on hamburger */
    position: absolute;
    top: 0px;
    /* z-index gives order in stacking */
    z-index: 0;
}
.navlist li{
    list-style: none;
    padding-bottom: 2rem;
}
.navlist li a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}
.display{
    display: none;
}